@mixin grid($columns, $margin) {
  float: left;
  background: #ce3d3d;
  margin-bottom: $margin;
  height: 150px;
  @if($columns >= 5) {
    width: 100%;
    margin-right: 0;
  }
  @else {
    width: ((100% - (($columns - 1) * $margin)) / $columns);
    margin-right: $margin;
  }
  &:nth-child(#{$columns}n) {
    margin-right: 0;
  }
}

@mixin font ($twoColor: red, $fontW: bold) {
  font-size: $mainFontSize;
  font-weight: $fontW;
  font-family: "Arial", sans-serif;
  color: $twoColor;
}

@mixin padd($padd...) {
  padding: $padd;
}

@mixin link($link, $hoverColor, $activeColor, $visitedColor) {
  color: $link;
  &:hover {
    color: darken($link, 20);
  }
  &:active {
    color: $activeColor;
  }
  @content;
}