* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$bgColor: blue; 
$secondaryColor: aqua;
$color: #cccccc;
$blockWidth: 30%;
$border: 4px solid red;
$mainFontSize: 1.1em;

@mixin font ($twoColor: red, $fontW: bold) {
  font-size: $mainFontSize;
  font-weight: $fontW;
  font-family: "Arial", sans-serif;
  color: $twoColor;
}

@mixin padd($padd...) {
  padding: $padd;
}

.block:not(.first) {
  @include padd(200px 300px);
  width: $blockWidth;
  border: $border;
  height: 200px;
  background: $bgColor;
  margin-bottom: 20px;
}

.first {
  width: $blockWidth;
  border: $border;
  height: 200px;
  margin-bottom: 20px;
  background: $bgColor;
}

.ul {
  list-style: none;
  li {
    @include font(green, 400);
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.first {
  background: $secondaryColor;
}