* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid {
  float: left;
  width: 100%;
}
.grid > div {
  float: left;
  background: #ce3d3d;
  margin-right: 1%;
  margin-bottom: 1%;
  height: 150px;
  width: 24.25%;
}
.grid > div:nth-child(4n) {
  margin-right: 0;
}

.a-psevdo {
  font-size: 68px;
  text-decoration: none;
  color: white;
  color: silver;
}
.a-psevdo:hover {
  color: #8d8d8d;
}
.a-psevdo:active {
  color: green;
}
.a-psevdo:visited {
  color: purple;
}

.block:not(.first) {
  padding: 200px 300px;
  width: 30%;
  border: 4px solid red;
  height: 200px;
  background: green;
  margin-bottom: 20px;
}

.first {
  width: 30%;
  border: 4px solid red;
  height: 200px;
  margin-bottom: 20px;
  background: green;
}

.ul {
  list-style: none;
}
.ul li {
  font-size: 1.1em;
  font-weight: 400;
  font-family: "Arial", sans-serif;
  color: green;
  width: 25%;
}
.ul li a {
  text-decoration: none;
  color: black;
}

.first {
  background: aqua;
}