* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$bgColor: blue; 
$secondaryColor: aqua;
$color: #cccccc;
$blockWidth: 30%;
$border: 4px solid red;

.block:not(.first) {
  width: $blockWidth;
  border: $border;
  height: 200px;
  background: $bgColor;
  margin-bottom: 20px;
}

.first {
  width: $blockWidth;
  border: $border;
  height: 200px;
  margin-bottom: 20px;
  background: $bgColor;
}

.ul {
  list-style: none;
  li {
    color: aquamarine;
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.first {
  background: $secondaryColor;
}