@import "variables";
@import "mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid {
  float: left;
  width: 100%;
  > div {
    @include grid(4, 1%);
  }
}

.a-psevdo {
  font-size: 68px;
  text-decoration: none;
  color: white;
  @include link(silver, blue, green, purple);
}

.block:not(.first) {
  @include padd(200px 300px);
  width: $blockWidth;
  border: $border;
  height: 200px;
  background: $bgColor;
  margin-bottom: 20px;
}

.first {
  width: $blockWidth;
  border: $border;
  height: 200px;
  margin-bottom: 20px;
  background: $bgColor;
}

.ul {
  list-style: none;
  li {
    @include font(green, 400);
    width: (100% / 4);
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.first {
  background: $secondaryColor;
}